@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'FigtreeSemiBold';
    src: url('../fonts/static/Figtree-SemiBold.ttf');
}

@font-face {
    font-family: 'FigtreeExtraBold';
    src: url('../fonts/static/Figtree-ExtraBold.ttf');
}